{% extends "main_layout.html" %}
{% block content %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/about.css" type="text/css">

<section class="section section-dark">
  <h1>Our Goal</h1>
  <span class="border"></span>
  <p>We aim to prevent the next car accidents. Our product detects if the driver fell asleep and alerts in real time</p>
</section>

<section class="section section-light">
  <div class="team-section">
    <h1>Our Team</h1>
    <span class="border"></span>

    <div class="ps">
      <div class="one-ps">
        <a href="#Tirtza"><img src="static/tirtza.jpg" alt=""></a>
        <h2>Tirtza Rubinstein</h2>
        <p>Full Stack Developer</p>
        <i class="fa fa-linkedin-square" style="font-size:36px" onClick="location.href='https://www.linkedin.com/in/elanafelsenthal'"></i>
      </div>

       <div class="one-ps">
        <a href="#Avigail"><img src="static/Avigailw.jpg" alt=""></a>
        <h2>Avigail Wilk</h2>
        <p>Full Stack Developer</p>
        <i class="fa fa-linkedin-square" style="font-size:36px" onClick="location.href='https://www.linkedin.com/in/elanafelsenthal'"></i>
      </div>

      <div class="one-ps">
        <a href="#shira"><img src="static/shira.jpg" alt=""></a>
        <h2>Shira Zaltsman</h2>
        <p>Full Stack Developer</p>
        <i class="fa fa-linkedin-square" style="font-size:36px" onClick="location.href='https://www.linkedin.com/in/shirazaltsman'"></i>
      </div>

      <div class="one-ps">
        <a href="#Shani"><img src="static/Shani.jpg" alt=""></a>
        <h2>Shani Ehrentreu</h2>
        <p>Full Stack Developer</p>
        <i class="fa fa-linkedin-square" style="font-size:36px" onClick="location.href='https://www.linkedin.com/in/shirel-ben-nathan-101b31164'"></i>
      </div>

      <div class="one-ps">
        <a href="#Amitai"><img src="static/amitai.jpg" alt=""></a>
        <h2>Amitai Ben-Noon</h2>
        <p>Mentor</p>
        <i class="fa fa-linkedin-square" style="font-size:36px" onClick="location.href='https://www.linkedin.com/in/moshe-amitay-25562127'"></i>
      </div>

      <div class="one-ps">
        <a href="#Kfir"><img src="static/kfir.jpg" alt=""></a>
        <h2>Kfir Yehezkel</h2>
        <p>Mentor</p>
        <i class="fa fa-linkedin-square" style="font-size:36px" onClick="location.href='https://www.linkedin.com/in/zohar-itzhaki-barnett-itzhaki-זהר-ברנט-יצחקי-aa12261'"></i>
      </div>

    </div>

  </div>
</section>
{% endblock content %}
