<!-- the html code responsible for the home page.
      it contains: start button and short discription of website and alert-->
{% extends "main_layout.html" %}
{% block content %}
  <link rel="stylesheet" href="static/home.css" type="text/css">
  <div class="home-page"> <!-- home container -->
    <h1 id=home-title>KEEP UP</h1>
    <p id=home-disc>We will not let you sleep on the wheel</p>
<!--    <button class="btn btn-outline-info" type="submit" >START</button>-->
  </div>

{% endblock content %}